.pop-parent {
    max-width: 300px;
    min-width: 300px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.iblistitem {
    color: inherit;
    font-family: 'Work Sans';
    font-size: 12px;
    text-decoration: none;
}

.iblistitemcont {
    color: black;
    margin: 2px;
    padding: 10px;
    width: auto;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: all 0.5s ease;
}

.iblistitemcont:hover{
    background-color: darkolivegreen;
    color: white;
}

ul {
    list-style-type: none;
    padding-left: 0px !important;
}

body {
    margin: 0px;
}
